//- Стандартный шаблон страницы
doctype html
html(class='no-js', lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')    

    block variables

    block meta
      title Home

    block head
      link(rel='stylesheet', href='style.css')

  body
    noscript У вас отключен JavaScript. Это пугает.

    block header

    block content

    block footer

    block page-bottom
      script(src='script.js')
